body {
  color: grey;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

h1 {
  background-image: url(../img/sobre-background.jpg);
  color: black;
}

h2 {
  border-bottom: 1px solid black;
}

figure {
  background-color: grey;
  text-align: center;
  border: 1px solid black;
  color: black;
}

figcaption {
  font-style: italic;
}
